
#page-content-wrapper{
    text-align: justify;
}

#page_container{
    margin: 0px auto;
}
img {
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    width: 250px;
    float: right;
    margin-left: 10px;
}

img:hover {
    transform: scale(2.5);
}