.textos{
    font-size: 16px;
}
.teste:hover{
    -color: #5b5b5f;
}
.cursor-dedinho {
    cursor: pointer;
    color: #9789e5;
    text-decoration: underline;

}


#btnProximaPagina{
    /* height: 40px; */
    top: 50%;
}

#btnPaginaAnterior{
    /* height: 40px; */
    top: 50%;
}

#page-content-wrapper{
    text-align: justify;
}

#page_container{
    margin: 0px auto;
    font-size: 20px;
}
img {
    background-color: white;
    padding: 5px;
    border: 1px solid grey;
    width: 250px;
    height: 200px;
    float: right;
    margin-left: 10px;
}

#sidebar-wrapper{
    overflow: auto;
    float: left;
    height: 100vh;

}

img:hover {
    transform: scale(2.0);
}

.text-box{
    background-color: #df691a;
    color: #faffff;
    padding: 15px;
    border: 1px solid #5b5b5f;
    border-radius: 5px;
    box-shadow: 14px 14px 6px 0px #252020;
}


